@use "sass:math";
/* ----------------------------------- */
/*          CUSTOM PROPERTIES          */
/* ------------------------------------*/
/*        MAIN-ACCENT COLOURS          */
/*-------------------------------------*/
$clr-lt-cream: hsl(28 100 79%); //#ffc593
$clr-pink: hsl(329 36 59%); //#bc7198
$clr-blue: hsl(229 100 67%); //5a77ff
$clr-linear-gradient: linear-gradient($clr-lt-cream, $clr-pink, $clr-blue);

/* ------------------------------------*/
/*        PRIMARY COLOURS              */
/*-------------------------------------*/
$clr-black: hsl(0 0 0%); // #000000
$clr-lt-grey: hsl(0 0 87%); // #DFDFDF
$clr-white: hsl(0 0 100%); // #ffffff

/* ------------------------------------*/
/*        TYPOGRAPHY                   */
/*-------------------------------------*/
$ff-dm-sans: 'DM Sans', sans-serif;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

/* ------------------------------------*/
/*        FONT SIZES                   */
/*-------------------------------------*/
$fs: 16;  //
$fs-12: 0.75rem;  // 12px
$fs-15: 0.9375rem; // 15px
$fs-16: 1rem; //16px
$fs-32: 2rem;
$fs-40: 2.5rem;


/* ------------------------------------*/
/*        SPACINGS                     */
/*-------------------------------------*/
$spacer-quarter: 0.25rem;
$spacer-half: 0.5rem;
$spacer-three-quarters: 0.75rem;
$spacer-1: 1rem;
$spacer-1-25: 1.25rem;
$spacer-1-5: 1.5rem;
$spacer-1-8: 1.8rem;
$spacer-2: 2rem;
$spacer-2-1: 2.1rem;
$spacer-2-25: 2.25rem;
$spacer-3: 3rem;


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding-block: $spacer-1-5;
    padding-inline: $spacer-1-5;
}

.uppercase {
    text-transform: uppercase;
}

/* screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}