@use "../base";
@use "../utils";

.features-primary,
.pricing-primary {
    @include utils.mQ(43.125rem) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.feature-list {
    max-width: base.$max-size;margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: base.$spacer-2;
}