@use "../base";
@use "../utils";

.complimentary {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 6px;
        width: 34%;
        background-image: linear-gradient(base.$clr-blue, base.$clr-pink, base.$clr-lt-cream);
        top: 0;
        left: 33px;
    }


    @include utils.mQ(43.125rem) {
        &::before {
            height: 100%;
            width: 6px;
            top: 0%;
            left: 0;
           // transform-origin: left;
           // transform: rotate(90deg);
        }
    }
}

.complimentary-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.complimentary-grid {
    position: relative;
    max-width: base.$max-size;
    margin: auto;
    height: 100%;
    display: grid;
    place-content: center;



    @include utils.mQ(43.125rem) {
        grid-template-columns: 1fr 1fr;

        .get-invite {
            justify-content: flex-end;
            align-items: flex-start;
        }

    }
}

.complimentary-title {
    color: base.$clr-white;
    font-size: base.$fs-32;
    font-weight: base.$fw-bold;
    max-width: 20.75rem;

    @include utils.mQ(43.125rem) {
        font-size: base.$fs-40;
    }
}