@use "../base";
@use "../utils";

.feature-section {
	padding-block: base.$spacer-1;
    @include utils.mQ(53.75rem) {
        padding-block: base.$spacer-3;
    }
}

.feature-container {
    padding-block: base.$spacer-2-5 * 2;
    display: flex;
    flex-direction: column;
    gap: base.$spacer-2-5;

    @include utils.mQ(53.75rem) {
        flex-direction: row;
        max-width: base.$max-size;
        margin: auto;
    }
}

.feature-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-list-item {
    max-width: 28.56rem;
    margin: auto;
}

.feature-list-item-title,
.feature-list-item-content {
    text-align: center;
    margin-block: base.$spacer-1-8;
}