@use "../base";
@use "../utils";

.product-list {
    display: flex;
    justify-content: space-between;

    @include utils.mQ(43.125rem) {
        flex: 1;
    }
}

.product-container {
    border-block-end: 1px solid base.$clr-lt-grey;
    // max-width: 90%;
    margin: auto;

    @include utils.mQ(43.125rem) {
        display: flex;
        justify-content: space-between;
    }
}

.product-list-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
        color: base.$clr-black;
        font-size: base.$fs-10;
        opacity: 0.6;
        text-transform: uppercase;
        letter-spacing: 1.67px;
    }
    @include utils.mQ(43.125rem) {
        p {
            display: none;
        }
    }

}

.product-title {
    font-size: base.$fs-12;
    margin-block-end: base.$spacer-1-5;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include utils.mQ(43.125rem) {
        flex: 1;
    }
}

.feature-content-title {
    text-transform: uppercase;
    font-weight: base.$fw-bold;
    font-size: base.$fs-12;   
    letter-spacing: 2px;
}

.features {
    width: 90%;
    max-width: 45.6875rem;
    margin: auto;
}

.main-features-title {
    text-transform: uppercase;
    text-align: center;
    display: none;

    @include utils.mQ(43.125rem) {
        display: block;   
        padding-block: base.$spacer-3;    
    }
}

.features-title {
    font-size: base.$fs-12;
    flex: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.title-container {
    display: flex;
    justify-content: space-between;
    border-block-end: 1px solid base.$clr-black;
}

.feature-content {
    display: none;

    @include utils.mQ(43.125rem) {
        display: flex;
        flex: 1;
    }
}