@use "../base";
@use "../utils";

.story {
    position: relative;
}

.story-details {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: hsla(0,0%,4%,.4);
    padding-block-end: .5rem;

    .get-invite {
        justify-content: space-between;
    }

    .story-details-author {
        border-bottom: 1px solid white;
    }
}

.main-home-secondary-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.story-details-title,
.story-details-author {
    color: base.$clr-white;
}

.story-details-author {
    padding-bottom: base.$spacer-1-5;
}

/*******************************************/
/*         STORIES PAGE                    */
/*******************************************/
.main-stories {
    position: relative;

    @include utils.mQ(43.125rem) {
        .hero-content {
            width: 58%;
            max-width: 30rem;
            position: absolute;
            z-index: 1;
            top: 0;
            background: none;
        }
    }
}