@use "../base";
@use "../utils";

.story {
    position: relative;
}

.story-details {
    position: absolute;
    z-index: 1;
    bottom: base.$spacer-2;
    left: base.$spacer-1;
}

.main-home-secondary-container {
    display: grid;
   // grid-template-columns: repeat(auto-fit minmax(250px, 1fr));

    @include utils.mQ(43.125rem) {

         grid-template-columns: 1fr 1fr;
    }

    @include utils.mQ(67.5rem) {
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}