@use "../base";
@use "../utils";

.story {
    position: relative;
}

.story-details {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: base.$spacer-half;
    left: 0;

    .get-invite {
        justify-content: space-between;
    }

    .story-details-author {
        border-bottom: 1px solid white;
    }
}

.main-home-secondary-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.story-details-title,
.story-details-author {
    color: base.$clr-white;
}

.story-details-author {
    padding-bottom: base.$spacer-1-5;
}