@use "../base";
@use "../utils";

.menu-control {
    position: relative;

    @include utils.mQ(43.125rem) {
        display: none;
    }
}

.menu-btns {
    background-color: transparent;
    border: none;
    outline: none;

    &:focus,
    &:hover {
        cursor: pointer;
        outline: dashed currentColor;
        outline-offset: 0.055em;
    }
}

.close-menu,
.close-img {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}


.hide-hamburger {
    display: none;
}

.show-close-btn {
    display: block;
    position: relative;
}


.modal-container {
    position: absolute;
    top: base.$spacer-2-25 * 2;
    z-index: 1;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    background-color: base.$clr-white;
    padding-block: base.$spacer-1-5;
    transform: translateX(0);
    transition: transform 500ms ease-in-out;

    @include utils.mQ(43.125rem) {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}

.hide-modal {
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    display: none;

    @include utils.mQ(43.125rem) {
        display: flex;
        transform: translateX(0%);
    }

}

.nav {
    @include utils.mQ(43.125rem) {
        flex: 1 1;
    }
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: base.$spacer-1-25;
    margin-block-end: base.$spacer-2-25;

    @include utils.mQ(43.125rem) {
        flex-direction: row;
        flex: 1 1;
        justify-content: space-evenly;
        margin-block-end: 0;
    }
}

.nav-list-item {
    text-align: center;
}

.nav-list-item-btn {
    font-size: base.$fs-15;
    font-weight: base.$fw-bold;
    color: base.$clr-black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: base.$fw-bold;

    &:focus,
    &:hover {
        cursor: pointer;
        outline: dashed currentColor;
        outline-offset: 0.25em;
    }
}

.nav-btn {
    z-index: 2;
    &:focus,
    &:hover {
        cursor: pointer;
        outline: dashed currentColor;
        outline-offset: 0.25em;
    }
}

.btn-invite {
    margin: auto;
    display: block;
    font-size: base.$fs-12;
    padding-block: base.$spacer-three-quarters;
    padding-inline: base.$spacer-1-5;
    background-color: base.$clr-black;
    color: base.$clr-white;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: base.$fw-bold;
    width: 90%;
    max-width: 19.375rem;
    text-decoration: none;
    z-index: 1;

    &:focus,
    &:hover {
        cursor: pointer;
        outline: dashed base.$clr-black;
        outline-offset: 0.25em;
    }

    @include utils.mQ(43.125rem) {
        max-width: 9.875rem;
    }
}