@use "../base";
@use "../utils";

.card-list {
    display: flex;
    flex-direction: column;
    gap: base.$spacer-2;

    @include utils.mQ(67.5rem) {
        flex-direction: row;
    }
}

.card-item {
    background-color: base.$clr-lt-grey;
    border-radius: 10px;
    max-width: 43.1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: base.$spacer-1-5;
    padding-block-end: base.$spacer-3;

    .btn-invite {
        max-width: 19.375rem;
    }
}

.card-item-title {
    font-size: base.$fs-24;
}

.card-content {
    text-align: center;
    font-size: base.$fs-15;
    line-height: 1.67;
    color: #979797;
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.card-cost {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-block-end: base.$spacer-2;
}

.monthly-yearly-cost {
    font-weight: base.$fw-bold;
    font-size: base.$fs-40;
}

.duration-term {
	color: #979797;
}