@use "../base";
@use "../utils";

.card-list {
    display: flex;
    flex-direction: column;
    gap: base.$spacer-2;

    @include utils.mQ(67.5rem) {
        flex-direction: row;
    }
}

.card-item {
    background-color: base.$clr-card-grey;
    border-radius: 10px;
    max-width: 43.1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: base.$spacer-1-5;
}

.card-content {
    text-align: center;
}

.product-list {
	display: flex;
	justify-content: space-between;
}